<h1><%= @movie.title %></h1>
<p>Made in <%= @movie.creation_year %>.</p>
<p>Genre: <%= @movie.genre %></p>
<ol>


<% @movie.actors.order('age ASC, name').each do |actor| %>
  <li><%= actor.name %></li>
  <% end %>
</ol>
<p>Average Actor Age: <%= @movie.actors.average(:age).round(1) %></p>
